Skapa ny rapport
<input type="text" />
<label for="position">Position</label>
X<input id="lat" type="text" /> Y<input id="lng" type="text" />
<label for="category">Category</label>
<select id="types_id">
    <option value="1">Test</option>
</select>
<label for="damage">Report</label>
<select id="title">
    <option>Vattenläcka</option>
</select>
<textarea id="description" placeholder="Description"></textarea>
<button>Save</button>