Skapa ny rapport
<label for="position">Position</label>
X<input id="lat" type="text" /> Y<input id="lng" type="text" />


<label for="types_id">Kategori</label>
<select id="types_id">
    <% for(var i=0; i<types.length; i++) { %>
        <option value="<%=types[i].id%>"><%=types[i].title%></option>
    <% } %>
</select>
<textarea id="description" placeholder="Description"></textarea>
<button>Save</button>