Skapa ny rapport
<div id="map">Map Container</div>


<label for="types_id">Kategori</label>
<select id="types_id">
    <% for(var i=0; i<types.length; i++) { %>
        <option value="<%=types[i].id%>"><%=types[i].title%></option>
    <% } %>
</select>
<textarea id="description" placeholder="Description"></textarea>
<button>Save</button>