<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">Open-DAI Reports</a>
</div>

<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><a href="#/reports">Rapporter</a></li>
    </ul>
    <p class="navbar-text pull-right">
        <a href="/user/" title="Profil för Fredrik Broman">Fredrik Broman</a>
  </p>
</div>
