<div class="panel panel-default">
  <div class="panel-body text-center">
    <div class="text-center" style="padding-top:70px; padding-bottom:70px;">
      <p>För att skapa rapporter behöver du logga in.</p>
      <p><a class="btn btn-primary btn-lg" href="#/login">Logga in med Facebook</a></p>
    </div>
  </div>
</div>
