
// Components
// -------------------------

@padding-base-vertical:          8px;
@padding-base-horizontal:        10px;

@padding-large-vertical:         16px;
@padding-large-horizontal:       20px;

@padding-small-vertical:         4px;
@padding-small-horizontal:       5px;

@border-radius-base:             1px;
@border-radius-large:            3px;
@border-radius-small:            0px;


// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              6;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         10px;
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     @screen-phone;


// Forms
// -------------------------

@input-border-radius:             @border-radius-large;


// Panels
// -------------------------
@panel-border-radius:             @border-radius-small;


// Buttons
// -------------------------

@button-border-radius:            @border-radius-large;
