
// Navbar
// -------------------------

@navbar-default-bg:                fade(@base06, 92%);
@navbar-default-border:            fade(@base06, 92%);

@navbar-inverse-bg:                fade(@base01, 88%);
