//
// Base16 Reporter
// Created by Fredrik Broman (http://synack.se)
//

@base00: #283032;
@base01: #446065;
@base02: #6c8b92;
@base03: #8ca1a7;
@base04: #b9c3c7;
@base05: #d8dde0;
@base06: #f9fafa;
@base07: #fff;

@base08: #d93021;
@base09: #d7642c;
@base0A: #ddb941;
@base0B: #39b04f;
@base0C: #3abaa6;
@base0D: #12b0ce;
@base0E: #315199;
@base0F: #8a5490;
